@model UnlockPhoneViewModel
@{
    if (Model.Brand != null)
    {
        ViewData["Title"] = "Unlock " + Model.Brand.Name + " device using IMEI";
    }
    else
    {
        ViewData["Title"] = "Unlock Phone";
    }
    var brand = Model.Brand;
    var faqs = Model.BrandFAQs;
    var models = Model.DeviceModels;
    var getfd = models.FirstOrDefault();
    var deviceModel = Model.DeviceModel;
}

<hr class="offset-lg">
<hr class="offset-lg">

<div class="body-content">
    <div class="unlock-online">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div>
                        <div class="breadcrumb">
                            @if (deviceModel != null)
                            {
                                <div class="breadcrumb-item"><p><a href="/Home/Index">Home </a>/ <a href="/UnlockPhone/Index">Phone Unlock</a>/ @brand.Name / @deviceModel.Name</p> </div>

                            }
                            else
                            {
                                <div class="breadcrumb-item"><p><a href="/Home/Index">Home </a>/ <a href="/UnlockPhone/Index">Phone Unlock</a>/ @brand.Name</p> </div>

                            }
                        </div>
                    </div>
                    <div class="unlock-online-func">
                        <div style="padding:30px">
                            @if (deviceModel == null)
                            {
                                <h3><b>@brand.Name</b></h3>

                            }
                            else
                            {
                                <h3><b>@brand.Name - @deviceModel.Name</b></h3>
                            }
                            <p style="color:#009a93">@brand.ShortDescription</p>
                        </div>
                        <div class="func-form">
                            <form id="formorder" asp-area="" asp-controller="Order" asp-action="ProceedToCheckout" method="post">
                                <div class="row">
                                    <input type="hidden" asp-for="UnlockTypeId" />
                                    <input type="hidden" asp-for="BrandId" />
                                    <input type="hidden" asp-for="TotalPrice" />
                                    @if (models.Count() == 1)
                                    {
                                        <input hidden id="DeviceModelId" value="@getfd.Id" />
                                    }
                                    else
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <h3 class="form-head">Select your make and model</h3>
                                            <div class="form-group">
                                                @Html.DropDownListFor(s => s.DeviceModelId, (SelectList)ViewBag.modellist, "Select Model", new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>


                                    }

                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.DropDownListFor(s => s.CountryId, (SelectList)ViewBag.countryList, "Select Country", new { @class = "form-control", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.DropDownListFor(s => s.CarrierId, (SelectList)ViewBag.NetworkList, "Select Carrier", new { @class = "form-control", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 hidden" id="serviceprev">
                                        <h3 class="form-head">Select an unlocking service</h3>
                                        <div class="form-group">
                                            <input asp-for="ServiceType" hidden/>
                                            <div class="row" style="margin-left:1px;margin-right:1px">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row  form-radio-s">
                                                        <div class="col-md-10">
                                                            <h4 class="form-radio-standard">Standard</h4>
                                                            <span class="form-radio-service">Service</span>
                                                            <input hidden id="standardPrice" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input  type="radio" name="radioService" id="serstd" value="1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12 hidden" id="serviceprem">
                                                    <div class="row  form-radio-p">
                                                        <div class="col-md-10">
                                                            <h4 class="form-radio-standard">Premium</h4>
                                                            <span class="form-radio-service">Service</span>
                                                            <input hidden id="premPrice" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="radio" name="radioService" id="radioService" value="2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">

                                        <h3 class="form-head">Select your IMEI Number</h3>
                                        <div class="form-group">
                                            <input type="text" asp-for="IMEI" class="form-control" required>
                                            <p id="msg" class="text-danger-cs"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">

                                        <div class="form-footer">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <a id="btnsub" onclick="FormCheckSubmit()" class="btn btn-primary btn-lg btn-square stretch-xs"><strong>Checkout</strong></a>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="unlock-price" id="pricehide">
                                                        <span>Price: </span>
                                                        <span id="chnageprice" class="price-num">$0</span>
                                                    </div>
                                                    <div class="unlock-price hidden" id="unavailableprice">
                                                        <span><h4 class="text-danger-cs"><b>Unlock unavailable</b></h4></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 hidden-xs">
                    <hr class="offset-lg">
                    <hr class="offset-lg">
                    <hr class="offset-lg">
                    <hr class="offset-lg">
                    <hr class="offset-lg">
                    <div class="unlock-online-cart">
                        <div class="cart-bg-img">
                            <img src="~/Carrier/Mobile.png" />
                        </div>

                        <div class="online-cart-wrap">
                            <div class="cart-wrap-upper text-center">
                                <div class="cart-upper-img">
                                    <div class="cart-upper-img-wrap">
                                        <img src="@Url.Content(brand.BrandLogo)" />
                                    </div>
                                </div>
                            </div>
                            <div class="cart-wrap-lower">
                                <div class="cart-order">
                                    <span>Your Order:</span>
                                    <span class="cart-order-icon"><i class="icon ion-android-cart"></i></span>
                                </div>
                                @if (models.Count() == 1)
                                {
                                    <div class="order-details">
                                        <div class="oder-details-img">
                                            <img src="@Url.Content(getfd.Image)" height="50" class="img-circle" />
                                        </div>
                                        <div class="order-details-info">
                                            <span class="order-phone-name">@brand.Name</span>
                                            <h4>@getfd.Name</h4>
                                            <span class="order-check-icon"><i class="icon ion-ios-checkmark"></i></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="order-details hidden" id="divprev1">
                                        <div class="oder-details-img">
                                            <img id="changeimagemodel" src="" height="50" class="img-circle" />
                                        </div>
                                        <div class="order-details-info">
                                            <span class="order-phone-name">@brand.Name</span>
                                            <h4 id="chnageNameModel">iPhone 12 Mini</h4>
                                            <span class="order-check-icon"><i class="icon ion-ios-checkmark"></i></span>
                                        </div>
                                    </div>
                                }

                                <div class="order-details hidden" id="divprev2">
                                    <div class="oder-details-img">
                                        <img id="changeimagecarrier" src="" height="50" class="img-circle" />
                                    </div>
                                    <div class="order-details-info">
                                        <span class="order-phone-name">Carrier</span>
                                        <h4 id="chnageNamecarrier">iPhone 12 Mini</h4>
                                        <span class="order-check-icon"><i class="icon ion-ios-checkmark"></i></span>
                                    </div>
                                </div>
                                <div class="order-details hidden" id="divprevwarnig">
                                    <div class="text-center">
                                        <h4 class="text-danger-cs"><b>Unlock unavailable</b></h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="offset-lg">
<hr class="offset-lg">
@if (models.Count > 1)
{

    <div class="device-network">
        <div class="container">
            <div class="row" style="margin: 1px; position: relative; overflow: hidden;" id="Country-Networks">
                @foreach (var item in models)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div style="border: 1px solid #eee; padding-bottom: 30px; margin: -1px; background: #FFF;">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 text-center">
                                    <img src="@Url.Content(item.Image)" class="" height="100" width="100" style="margin: 28% auto 10%;" />
                                </div>
                                <div class="col-xs-12 col-md-12 text-center">
                                    <a href="/UnlockPhone/ByBrand?id=@brand.Id&&modelid=@item.Id" class="btn btn-primary  btn-block btn-square  black">@item.Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}
@if (faqs.Count() != 0)
{
    <div class="unlock-faq">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="device-network-header" data-aos="fade-up" *@
                        data-aos-duration="2000">
                        Frequenty Asked Questions
                    </h2>
                </div>
            </div>
            <div class="row" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="col-sm-12">
                    <div class="faq-content">
                        @{ int i = 0; }
                        @foreach (var item in faqs)
                        {
                            string collapse = "#collapse" + i.ToString();
                            string collapseID = "collapse" + i.ToString();
                            if (i == 0)
                            {
                                <div class="faq-content-wrap">
                                    <div class="faq-header">
                                        <a role="button" data-toggle="collapse" href="@Url.Content(collapse)" aria-expanded="true" aria-controls="question2">
                                            <h2 class="h3">@item.Question</h2>
                                            <span><i class="icon ion-plus"></i></span>
                                        </a>
                                    </div>
                                    <div class="collapse faq-details" id="@Url.Content(collapseID)">
                                        <p>
                                            @item.Answer
                                        </p>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="faq-content-wrap">
                                    <div class="faq-header">
                                        <a role="button" data-toggle="collapse" href="@Url.Content(collapse)" aria-expanded="true" aria-controls="question2">
                                            <h2 class="h3">@item.Question</h2>
                                            <span><i class="icon ion-plus"></i></span>
                                        </a>
                                    </div>
                                    <div class="collapse faq-details" id="@Url.Content(collapseID)">
                                        <p>
                                            @item.Answer
                                        </p>
                                    </div>
                                </div>
                            }
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>}
<div class="device-network">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="device-network-header" data-aos="fade-up" *@
                    data-aos-duration="2000">
                    Unlock your iphone or any <span class="notranslate">Apple</span> device from any network Worldwide.
                </h2>
                <p class="device-network-subheader" data-aos="fade-down"
                   data-aos-duration="2000">In three simple steps you can permanently unlock you device.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="device-network-content text-center">
                    <div class="device-network-content-wrap">
                        <div class="device-network-counter">1</div>
                        <div class="device-network-details">
                            <h3>Enter your device details</h3>
                            <p>Select the model and network the device is locked to and enter the IMEI or Serial <i class="fa fa-question-circle hidden-xs" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="font-size: 1.2em; position: relative; top: 1px; color: rgb(0,122,255); cursor: help;" data-content="Your IMEI number can be found in the Settings > General > About screen, or by dialing *#06#" title="" data-original-title="Finding your IMEI Number"></i></p>
                            @*<p >If you don't know your IMEI number then dial <strong>*#06#</strong> into your phone</p>*@
                            <p>If you don’t know the network your device is locked to use our <a class="text-blue" href="#" data-toggle="modal" data-country="United States">network check</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="device-network-content text-center">
                    <div class="device-network-content-wrap">
                        <div class="device-network-counter">2</div>
                        <div class="device-network-details">
                            <h3>Process your unlock</h3>
                            <p>Your payment is verified and your order is processed.</p>
                            <p>Your live tracking login is supplied within the confirmation email.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="device-network-content text-center">
                    <div class="device-network-content-wrap">
                        <div class="device-network-counter">3</div>
                        <div class="device-network-details">
                            <h3>Device Unlocked</h3>
                            <p>Your Phone or <span class="notranslate">Apple</span><sup>TM</sup> device is unlocked.</p>
                            <p>Confirmation will be sent to you via email and your unlock is delivered over the air using 3G/4G/WIFI <i class="fa fa-info-circle hidden-xs" data-toggle="popover" data-placement="bottom" data-trigger="hover" style="font-size: 1.2em; position: relative; top: 1px; color: rgb(0,122,255); cursor: help;" data-content="Please do not send us your device, your unlock is delivered Over-The-Air via WIFI/3G/4G." title="" data-original-title="You keep your device"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="why-unlocked">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="why-unlocked-img">
                    <img class="img-responsive" src="~/images/images/network-check.jpg" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="why-unlocked-msg">
                    <h2>Why unlock your iPhone Mobile Unlocked?</h2>
                    <p>Mobile Unlocked’s recommended unlocking method is guaranteed to unlock your iPhone from any carrier. With our service, your iPhone is unlocked quickly and permanently by Whitelisting the IMEI in Apple’s Database, creating an official iPhone unlock.</p>
                    <p>As our service is completely remote, you can even use your phone during the unlocking process; you’ll only need to restart your phone once the unlock has been completed. Any further software updates to your iPhone will not affect your unlock.</p>
                    <p>Taking your iPhone to a store to be unlocked can be time-consuming and expensive. With Mobile Unlocked, you can have your phone unlocked from any carrier safely and quickly in the comfort of your own home without your phone ever having to leave your side.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="trust-pilot">
                    <div class="trust-pilot-wrap">
                        <div class="trust-pilot-img">
                            <img src="~/images/trustpilot.png" />
                        </div>
                        <div class="trust-pilot-body">
                            <p class="trust-pilot-rating">
                                4.8
                            </p>
                            <div class="trust-pilot-star">
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                            </div>
                            <p class="trust-pilot-review">Out of 1500 reviews</p>
                            <br />
                            <button type="submit" class="btn btn-link review-btn">Review</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="carousel tp-carosel" data-count="2" data-current="1">
                    <div class="items">
                        <div class="item active" data-marker="1" data-aos="fade-left"
                             data-aos-duration="2000">
                            <img src="~/Contents/assets/img/carousel/bckg.jpg" alt="Background" class="background" data-marker="1" data-aos="fade-left"
                                 data-aos-duration="2000" />

                            <div class="content">
                                <div class="outside-content">
                                    <div class="row">
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-marker="2" data-aos="fade-left"
                             data-aos-duration="2000">
                            <img src="~/Contents/assets/img/carousel/bckg.jpg" alt="Background" class="background" data-marker="1" data-aos="fade-left"
                                 data-aos-duration="2000" />

                            <div class="content">
                                <div class="outside-content">
                                    <div class="row">
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="markers">
                        <li data-marker="1" class="active"></li>
                        <li data-marker="2"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        function FormCheckSubmit(e) {
            var url = "/Imei/check";
            var imei = $("#IMEI").val();
            $("#msg").empty();
            $.getJSON(url, { imei: imei }, function (data) {
                if (data == false) {
                    $("#msg").append("Please enter a valid IMEI number.");
                }

                if (data == true) {
                    $("#msg").empty();
                    $("#formorder").submit();
                }
            });
        }
        function CalculatePrice(e) {
            var url = "/Calculate/CalculateCarrierPrice";
            var CarrierId = $("#CarrierId").val();
            var ModelId = $("#DeviceModelId").val();
            var BrandId = $("#DeviceModelId").val();
            $.getJSON(url, { CarrierId: CarrierId, ModelId: ModelId, BrandId: BrandId }, function (data) {
                $("#divprev").removeClass('hidden');
                $("#TotalPrice").val(0);
                $("#chnageprice").empty();
                var pricitem = "$" + data.price + "";
                $("#chnageprice").append(pricitem);
                if (data.isAvailable === false) {
                    $("#serviceprev").addClass('hidden');
                    $("#TotalPrice").val(0);
                    $("#premPrice").val(0);
                    $("#standardPrice").val(0);
                    $("#divprevwarnig").removeClass('hidden');
                    $("#pricehide").addClass('hidden');
                    $("#unavailableprice").removeClass('hidden');
                    $("#btnsub").addClass('disabled');
                    $("#btnsub").prop("disabled", "disabled");

                }
                else {
                    $("#serviceprev").removeClass('hidden');
                    if (data.hasPremium == true) {
                        $("#serviceprem").removeClass('hidden');
                        $("#premPrice").val(data.premiumPrice);
                    }
                    else {
                        $("#serviceprem").addClass('hidden');
                        $("#premPrice").val(0);
                    }
                    $("#divprevwarnig").addClass('hidden');
                    $("#TotalPrice").val(data.price);
                    $("#standardPrice").val(data.price);
                    $("#pricehide").removeClass('hidden');
                    $("#unavailableprice").addClass('hidden');
                    $("#btnsub").removeClass('disabled');
                    $("#btnsub").prop("disabled", false);

                }
            });
        }
          $(document).ready(function () {
              $('#CarrierId').change(function () {
                  var url = '@Url.Content("~/")' + "Information/GetCarrierInfo";
                  var ddlsource = "#CarrierId";
                  var valyue = $(ddlsource).val();
                  $("#divprevwarnig").addClass('hidden');

                  if (valyue == "") {
                      $("#divprev2").addClass('hidden');
                      $("#serviceprem").addClass('hidden');
                  }
                  else {
                      $.getJSON(url, { modelId: $(ddlsource).val() }, function (data) {
                          $("#divprev2").removeClass('hidden');
                          $("#changeimagecarrier").removeAttr('src');
                          $("#changeimagecarrier").attr('src', "" + data.image + "");
                          $("#chnageNamecarrier").empty();
                          $("#chnageNamecarrier").append(data.name);
                      });
                      var CarrierId = $("#CarrierId").val();
                      var ModelId = $("#DeviceModelId").val();
                      if (CarrierId != "" && ModelId != "") {
                          CalculatePrice();
                      }
                  }

              });
              $('#DeviceModelId').change(function () {
                  var url = '@Url.Content("~/")' + "Information/GetModelInfo";
                  var ddlsource = "#DeviceModelId";
                  var valyue = $(ddlsource).val();

                  if (valyue == "") {
                      $("#divprev1").addClass('hidden');
                      $("#serviceprem").addClass('hidden');
                  }
                  else {
                      $.getJSON(url, { modelId: $(ddlsource).val() }, function (data) {
                          $("#divprev1").removeClass('hidden');
                          $("#changeimagemodel").removeAttr('src');
                          $("#changeimagemodel").attr('src', "" + data.image + "");
                          $("#chnageNameModel").empty();
                          $("#chnageNameModel").append(data.name);
                      });
                      var CarrierId = $("#CarrierId").val();
                      var ModelId = $("#DeviceModelId").val();
                      if (CarrierId != "" && ModelId != "") {
                          CalculatePrice();
                      }
                  }
            });
              $('#CountryId').change(function () {
                  var url = '@Url.Content("~/")' + "Carrier/GetCarrier";
                  var ddlsource = "#CountryId";
                  $.getJSON(url, { CountryId: $(ddlsource).val() }, function (data) {
                      var items = '';
                      items += "<option value='0'>Select Carrier</option>";
                      $("#CarrierId").empty();
                    $.each(data, function (i, item) {
                        items += "<option value='" + item.value + "'>" + item.text + "</option>";
                    });
                      $('#CarrierId').html(items);
                });
            });

              $('#radioService').change(function () {
                  var radioValue = $("#radioService").val();
                  if (radioValue == "2") {
                      $("#TotalPrice").val(0);
                      $("#chnageprice").empty();
                      var premprice =  $("#premPrice").val();
                      var stdprice =  $("#standardPrice").val();
                      var pricitem = "$" + premprice + "";
                      $("#chnageprice").append(pricitem);

                      $("#TotalPrice").val(premprice);
                  }
                  else {
                      $("#TotalPrice").val(0);
                      $("#chnageprice").empty();
                      var premprice =  $("#premPrice").val();
                      var stdprice =  $("#standardPrice").val();
                      var pricitem = "$" + stdprice + "";
                      $("#chnageprice").append(pricitem);

                      $("#TotalPrice").val(stdprice);
                  }
              });

              $('#serstd').change(function () {
                  var radioValue = $("#serstd").val();
                  if (radioValue == "1") {
                      $("#TotalPrice").val(0);
                      $("#chnageprice").empty();
                      var premprice = $("#premPrice").val();
                      var stdprice = $("#standardPrice").val();
                      var pricitem = "$" + stdprice + "";
                      $("#chnageprice").append(pricitem);

                      $("#TotalPrice").val(stdprice);
                  }
                  else {

                      $("#TotalPrice").val(0);
                      $("#chnageprice").empty();
                      var premprice = $("#premPrice").val();
                      var stdprice = $("#standardPrice").val();
                      var pricitem = "$" + premprice + "";
                      $("#chnageprice").append(pricitem);

                      $("#TotalPrice").val(premprice);
                  }
              });


        });
    </script>
}
